@scope (app-hero) {

    :scope {
        display: inline-block;
        padding: var(--space-200);
    }

    .hero-photo {
        width: var(--size-photo);
        border-radius: 100%;
        box-shadow: var(--shadow-low);
    }

    .hero-heading {
        width: 420px;
        margin-block: var(--space-100);
        h1 {
            color: var(--tx-color-2);
            font-size: var(--size-5);
            font-weight: normal;
        }
        h2 {
            color: var(--tx-color-2);
            font-size: var(--size-7);
            font-weight: bold;
        }
        .first-word {
            .char-face {
                color: transparent;
                background: linear-gradient(
                        to bottom,
                        var(--secondary-color),
                        var(--primary-color)
                );
                background-clip: text;
            }
        }
    }

    footer {
        margin-block: var(--space-300) var(--space-100);
    }

    .scroll-animation {
        animation: scroll-down-arrow 2s infinite;
    }

    @keyframes scroll-down-arrow {
        0%, 100% {
            transform: translateY(0rem);
            opacity: 1;
        }
        33% {
            transform: translateY(1rem);
            opacity: 0;
        }
        66% {
            transform: translateY(-1rem);
            opacity: 0;
        }
    }
}