/*———————— BLUE LABEL by @gaboquerizo ————————*/

/*———————— Custom Property Styles ————————*/

:root {
    /* Typography */
    --font-family-main: 'Exo 2';

    /* Sizes */
    --size-1: 8px;
    --size-2: 12px;
    --size-3: 16px;
    --size-4: 18px;
    --size-5: 20px;
    --size-6: 24px;
    --size-7: 28px;
    --size-8: 32px;
    --size-9: 36px;

    /* Spacing */
    --space-025: 0.25rem;
    --space-050: 0.50rem;
    --space-075: 0.75rem;
    --space-100: 1.00rem;
    --space-150: 1.50rem;
    --space-200: 2.00rem;
    --space-250: 2.50rem;
    --space-300: 3.00rem;
    --space-400: 4.00rem;
    --space-500: 5.00rem;

    /* Border */
    --solid-1: solid 1px;
    --solid-2: solid 2px;
    --solid-3: solid 3px;
    --solid-4: solid 4px;

    --dashed: dashed 4px;

    /* Border Radius */
    --radius-1: .25rem;
    --radius-2: .50rem;
    --radius-3: .75rem;
    --radius-4: 1rem;
    --radius-5: 2rem;

    /* Box Shadow */
    --shadow-color-1: #2342;
    --shadow-color-2: #abc1;
    --shadow-color-3: #7891;

    --shadow-low:    0 1px 1px 0 var(--bg-color-4);
    --shadow-medium: 0 1px 10px 0 var(--bg-color-3);
    --shadow-high:   0 3px 20px 2px var(--shadow-color-3);

    --shadow-high-color: 0 1px 20px 5px var(--light-color);
    --shadow-inset-light: inset 0 -1px 10px 1px var(--bg-color-1);
    --shadow-inset-color: inset 0 -1px 10px 1px var(--secondary-color);

    /* Transitions */
    --transition-1: .2s ease-in-out;
    --transition-2: .50s ease;
    --transition-3: .75s ease;
    --transition-4:   1s ease;

    /* Browser */

}

:root[data-theme="light"] {
    /* Blue gray */
    --bg-color-1: #F2F4F6;
    --bg-color-2: #E4EAF1;
    --bg-color-3: #D6DDE9;

    --bg-color-4: #C0D0E0;
    --bg-color-5: #B1C1D1;
    --bg-color-6: #A2B2C2;

    --bg-color-7: #678;
    --bg-color-8: #456;
    --bg-color-9: #234;

    --tx-color-1: #2f3f4f;
    --tx-color-2: #456;
    --tx-color-3: #789;
    --tx-cut-out: #fff;

    /* Colors */
    --primary-color: #0077FF;
    --secondary-color: #11BBFF;
    --light-color: #AACCFF;
    --dark-color: #0040AA;
    --glass-effect-color: #F2F4F6;

    /* Browser */

    ::-webkit-scrollbar {
        background: var(--bg-color-3);
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--bg-color-6);
        border-radius: 4px;
    }
    ::selection {
        background-color: var(--primary-color);
        color: white;
    }
}

:root[data-theme="dark"] {
    /* Blue gray */
    --bg-color-1: #303548;
    --bg-color-2: #212532;
    --bg-color-3: #161a23;

    --bg-color-4: #444c63;
    --bg-color-5: #5d6789;
    --bg-color-6: #667596;

    --bg-color-7: #7d89b0;
    --bg-color-8: #848fb6;
    --bg-color-9: #9facd9;

    --tx-color-1: #def;
    --tx-color-2: #abc;
    --tx-color-3: #789;
    --tx-cut-out: #000;

    /* Colors */
    --primary-color: #00EEFF;
    --secondary-color: #11BBFF;
    --light-color: #88FFFF;
    --dark-color: #00BBEE;
    --glass-effect-color: #F2F4F6;

    /* Browser */

    ::-webkit-scrollbar {
        background: var(--bg-color-3);
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--bg-color-2);
        border-radius: 4px;
    }
    ::selection {
        background-color: var(--primary-color);
        color: black;
    }

}

/*———————— Utility Classes ————————*/

/* FlexBox */
.fx { display: flex; }
.fx-row { display: flex; flex-direction: row; }
.fx-col { display: flex; flex-direction: column; }
.fx-wrp { display: flex; flex-wrap: wrap; }
.fx-ali_c { display: flex; align-items: center; }
.fx-jsc_c { display: flex; justify-content: center; }
.fx-jsc_sa{ display: flex; justify-content: space-around; }
.fx-jsc_sb { display: flex; justify-content: space-between; }
.fx-jsc_se { display: flex; justify-content: space-evenly; }
.fx-ctr { display: flex; align-items: center; justify-content: center; }
.gap-1 { gap: calc(var(--space-025) * 1); }
.gap-2 { gap: calc(var(--space-025) * 2); }
.gap-3 { gap: calc(var(--space-025) * 3); }
.gap-4 { gap: calc(var(--space-025) * 4); }
.gap-5 { gap: calc(var(--space-025) * 5); }
.gap-6 { gap: calc(var(--space-025) * 6); }
.gap-7 { gap: calc(var(--space-025) * 7); }
.gap-8 { gap: calc(var(--space-025) * 8); }
.gap-9 { gap: calc(var(--space-025) * 9); }

/* Grid */


/* Text */
.txt-center {
    text-align: center;
}

.list-none {
    list-style: none;
}

.h-full {
    height: 100%;
}

.h-dfull {
    height: 100dvh;
}

.w-full {
    width: 100%;
}

[show] {
    border: solid 1px #f50;
    background-color: #f503;
    *{
        border: dashed 1px #f50;
        background-color: #f503;
    }
}