/*———————— BLUE LABEL by @gaboquerizo ————————*/

/*———————— Custom Property Styles ————————*/

:root {
    /* Typography */
    --font-family-main: 'Exo 2';

    /* Sizes */
    --size-1: 12px;
    --size-2: 16px;
    --size-3: 18px;
    --size-4: 24px;
    --size-5: 30px;
    --size-6: 36px;
    --size-7: 36px;
    --size-8: 42px;
    --size-9: 48px;

    /* Spacing */
    --space-025: 0.25rem;
    --space-050: 0.50rem;
    --space-075: 0.75rem;
    --space-100: 1.00rem;
    --space-150: 1.50rem;
    --space-200: 2.00rem;
    --space-300: 3.00rem;
    --space-400: 4.00rem;
    --space-600: 6.00rem;
    --space-800: 8.00rem;

    /* Border */
    --solid-1: solid 1px;
    --solid-2: solid 2px;
    --solid-3: solid 3px;
    --solid-4: solid 4px;
    --solid-5: solid 5px;

    --dashed: dashed 4px;

    /* Border Radius */
    --radius-1: .25rem;
    --radius-2: .50rem;
    --radius-3: .75rem;
    --radius-4: 1rem;
    --radius-5: 2rem;

    /* Box Shadow */

    --shadow-color: 212deg 17% 50%;
    --shadow-low:
            0 0.6px 0.8px hsl(var(--shadow-color) / 0.4);
    --shadow-medium:
            0 1px 2px -1px hsl(var(--shadow-color) / 0.2),
            0 6px 9px -2px hsl(var(--shadow-color) / 0.2);
    --shadow-high:
            0 12px 16px -1px hsl(var(--shadow-color) / 0.12),
            0 18px 28px -2px hsl(var(--shadow-color) / 0.14),
            0 24px 46px -3px hsl(var(--shadow-color) / 0.16);
    --shadow-with-color: 0 1px 20px 5px var(--primary-color);
    --shadow-inset-light: inset 0 -1px 10px 1px var(--bg-color-1);
    --shadow-inset-color: inset 0 -1px 10px 1px var(--secondary-color);

    /* Transitions */
    --transition-1: .25s ease-in-out;    /*for hover*/
    --transition-2: .50s ease-out;       /*for click*/
    --transition-3: .75s ease;
    --transition-4:   1s ease;

    /* Media Breakpoints */
    --xs: 0;
    --sm: 570px;
    --md: 770px;
    --lg: 990px;
    --xl: 1200px;
    --xxl: 1400px;
}

:root[data-theme="light"] {

    --bg-color-1: #F3F6F9;
    --bg-color-2: #E0E7F0;
    --bg-color-3: #D0DAE7;
    --bg-color-4: #C0CEDE;
    --bg-color-5: #B0C0D4;
    --bg-color-6: #A0B2C9;
    --bg-color-7: #8299B4;
    --bg-color-8: #6680A0;
    --bg-color-9: #466484;

    --tx-color-1: #234;
    --tx-color-2: #456;
    --tx-color-3: #789;
    --tx-cut-out: #fff;

    /* Colors */
    --primary-color: #0077EE;
    --secondary-color: #11BBFF;
    --focus-color: #8FBFF8;
    --light-color: #D1E1F1;
    --dark-color: #0c5cc0;
    --glass-effect-color: #F2F4F6;

    /* Browser */

    ::-webkit-scrollbar {
        background: var(--bg-color-3);
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--bg-color-6);
        border-radius: 4px;
    }
    ::selection {
        background-color: var(--primary-color);
        color: white;
    }
}

:root[data-theme="dark"] {
    /* Blue gray
    --bg-color-1: #161a23;
    --bg-color-2: #212532;
    --bg-color-3: #303548;
    --bg-color-4: #4d5d6d;
    --bg-color-5: #5e6e7e;
    --bg-color-6: #7f8f9f;
    --bg-color-7: #a1b2c3;
    --bg-color-8: #d0e0f0;
    --bg-color-9: #f3f6f9;
 */
    --bg-color-1: #07080D;
    --bg-color-2: #0d101a;
    --bg-color-3: #101420;
    --bg-color-4: #162334;
    --bg-color-5: #20384c;
    --bg-color-6: #7f8f9f;
    --bg-color-7: #a1b2c3;
    --bg-color-8: #d0e0f0;
    --bg-color-9: #f3f6f9;

    --tx-color-1: #fff;
    --tx-color-2: #def;
    --tx-color-3: #abc;
    --tx-cut-out: #000;

    /* Colors */
    --primary-color: #00EEFF;
    --secondary-color: #11BBFF;
    --focus-color: aqua;
    --light-color: #11BBFF20;
    --dark-color: #00BBEE;
    --glass-effect-color: #F2F4F6;

    /* Browser */

    ::-webkit-scrollbar {
        background: var(--bg-color-3);
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--bg-color-2);
        border-radius: 4px;
    }
    ::selection {
        background-color: var(--primary-color);
        color: black;
    }

}

/*———————— Utility Classes ————————*/

/* FlexBox */
.fx { display: flex; }
.fx-row { display: flex; flex-direction: row; }
.fx-col { display: flex; flex-direction: column; }
.fx-wrp { display: flex; flex-wrap: wrap; }
.fx-ali_c { display: flex; align-items: center; }
.fx-ali_s { display: flex; align-items: flex-start; }
.fx-ali_e { display: flex; align-items: flex-end; }
.fx-jsc_c { display: flex; justify-content: center; }
/* ░░░░░▓▓▓▓░▓▓▓▓░▓▓▓▓░░░░░ */
.fx-jsc_se { display: flex; justify-content: space-evenly; }
/* ░░░░▓▓▓▓░░▓▓▓▓░░▓▓▓▓░░░░ */
.fx-jsc_sa { display: flex; justify-content: space-around; }
/* ░░▓▓▓▓░░░░▓▓▓▓░░░░▓▓▓▓░░ */
.fx-jsc_sb { display: flex; justify-content: space-between; }
/* ▓▓▓▓░░░░░░▓▓▓▓░░░░░░▓▓▓▓ */
.fx-jsc_s { display: flex; justify-content: flex-start; }
/* ▓▓▓▓░▓▓▓▓░▓▓▓▓░░░░░░░░░░ */
.fx-jsc_e { display: flex; justify-content: flex-end; }
/* ░░░░░░░░░░▓▓▓▓░▓▓▓▓░▓▓▓▓ */
.fx-ctr { display: flex; align-items: center; justify-content: center; }
.gap-1 { gap: calc(var(--space-025) * 1); }
.gap-2 { gap: calc(var(--space-025) * 2); }
.gap-3 { gap: calc(var(--space-025) * 3); }
.gap-4 { gap: calc(var(--space-050) * 4); }
.gap-5 { gap: calc(var(--space-050) * 5); }
.gap-6 { gap: calc(var(--space-050) * 6); }
.gap-7 { gap: calc(var(--space-100) * 7); }
.gap-8 { gap: calc(var(--space-100) * 8); }
.gap-9 { gap: calc(var(--space-100) * 9); }

/* Grid */


/* Text */
.txt-center {
    text-align: center;
}

.list-none {
    list-style: none;
}

.h-full {
    height: 100%;
}

.h-dfull {
    height: 100dvh;
}

.w-full {
    width: 100%;
}

[show],[✏️] {
    border: solid 1px #f50;
    background-color: #f503;
    *{
        border: dashed 1px #f50;
        background-color: #f503;
    }
}