@scope (ui-eyebrow) {
    :scope {
        display: inline-block;
        padding: var(--space-025) var(--space-075);

        color: var(--primary-color);
        font-size: var(--size-1);
        letter-spacing: 1px;

        background: var(--light-color);
        border: var(--solid-1) var(--focus-color);
        border-radius: var(--radius-4);
    }
}