@scope (app-root) {

    :scope {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    main > * {
        border-top: var(--solid-1) var(--primary-color);
    }
}