@import url('/src/styles/reset.css');
@import url('/src/styles/font.css');
@import url('/src/styles/bluelabel.css');

:root {
    --glass-effect-color: #F2F4F6;
    --size-photo: 170px;
}

body {
    background: var(--bg-color-1);
    background: radial-gradient(
            circle,
            var(--bg-color-1) 0%,
            var(--bg-color-3) 100%
    );
    color: var(--tx-color-1);
    height: 100dvh;
}

.scroll-animation,
.about-me_links
svg
{
    width: 2rem;
    height: 2rem;
}

.header {
    margin-block: var(--space-200) var(--space-100);

    .logo {
        width: var(--size-6);
        max-width: max-content;
        fill: var(--tx-color-3);
    }

    .header-theme-toggle {
        color: var(--tx-color-3);
    }
}

.main {
    max-height: 580px;

    .profile-photo{
        position: relative;
        margin-top: var(--space-300);
        width: max-content;
    }
    .profile-photo_img {
        width: var(--size-photo);
        border-radius: 50%;
        aspect-ratio: 1;
        outline: var(--solid-1) transparent;
        transition: outline var(--transition-1);
        &:hover {
            outline: var(--solid-2) white;
        }
        box-shadow:
                var(--shadow-low),
                var(--shadow-medium);
    }
    .profile-tooltip {
        position: absolute;
        display: inline-block;
        /*background: linear-gradient(to bottom, #1bf , #06d 70%);*/
        background-color: var(--bg-color-1);
        color: var(--tx-color-2);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: var(--space-025) var(--space-100);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
        border-radius: 50px;
        box-shadow:
                var(--shadow-low),
                var(--shadow-medium);
    }
    .profile-tooltip::before {
        background-color: var(--bg-color-1);
        position: absolute;
        content: "";
        height: 0.6em;
        width: 0.6em;
        bottom: -0.2em;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
    }
    .profile-photo:hover .profile-tooltip {
        top: -25%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .profile {
        .username {
            font-size: var(--size-5);
            color: var(--tx-color-2);
            font-weight: normal;
        }
        .profession{
            font-size: var(--size-8);
            .primary{
                .char-face {
                    color: transparent;
                    background: linear-gradient(
                            to bottom,
                            var(--secondary-color),
                            var(--primary-color)
                    );
                    background-clip: text;
                }
            }
            .secondary{
                color: var(--tx-color-1);
            }
        }
    }

    .main-cta_btn {
        margin-top: var(--space-200);
    }
}

.footer {
    margin-block: var(--space-100) var(--space-200);

    .scroll-animation {
        animation:
                scroll-down-arrow 2s infinite;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

@keyframes scroll-down-arrow {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    33% {
        transform: translateY(1rem);
        opacity: 0;
    }
    66% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

.heading-2 {
    color: var(--tx-color-3);
    text-transform: uppercase;
    letter-spacing: var(--space-100);
    padding-block: var(--space-600) var(--space-300);
    font-size: var(--size-5);
    opacity: 0.5;

    p {
        color: var(--tx-color-3);
    }
}

section[id="about_me"] {
    background-color: var(--bg-color-3);
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area2 area2";

    width: 90dvw;
    max-width: 800px;
    padding-block: var(--space-300) var(--space-600);
    gap: 4rem;

    .about-me_img {
        grid-area: area1;

        img {
            border-radius: var(--radius-3);
            box-shadow:
                    var(--shadow-low),
                    var(--shadow-medium);
        }
    }

    .about-me_links a {
        color: var(--tx-color-3);
        padding: var(--space-075);
        border-radius: var(--radius-5);
        transition:
                background var(--transition-1),
                color var(--transition-1);

        &[alt="linkedin"]:hover {
            background-color: #0a66c2;
        }
        &[alt="github"]:hover {
            background-color: #010409;
        }
        &[alt="dribbble"]:hover {
            background-color: #e04a82;
        }
        &[alt="pinterest"]:hover {
            background-color: #e60023;
        }
        &:hover {
            color: white;
        }

        svg {
            width: var(--size-5);
            height: var(--size-5);
        }
    }

    .about-me_greeting {
        grid-area: area2;
        h3 {
            font-size: var(--size-5);
            font-weight: 500;
        }
        p {
            margin: 0;
            font-size: var(--size-3);
        }
    }
}

section[id="projects"] {
    background-color: var(--bg-color-3);

    padding-bottom: 100em;
}