@import url('/src/styles/reset.css');
@import url('/src/styles/font.css');
@import url('/src/styles/bluelabel.css');

/*———————— Custom Property Project ————————*/

:root {
    --size-photo: 200px;
    --glass-effect-color: #F2F4F6;
}

svg {
    color: var(--tx-color-3);
    transition: color var(--transition-2);

    &:hover {
        color: var(--tx-color-1);
    }
}


body {
    background: var(--bg-color-1);
    background: radial-gradient(
            circle,
            var(--bg-color-1) 0%,
            var(--bg-color-3) 100%
    );
    color: var(--tx-color-1);
}

.heading-2 {
    color: var(--tx-color-3);
    text-transform: uppercase;
    letter-spacing: var(--space-100);
    padding-block: var(--space-600) var(--space-300);
    font-size: var(--size-5);
    opacity: 0.5;

    p {
        color: var(--tx-color-3);
    }
}

section[id="about_me"] {
    background-color: var(--bg-color-3);
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area2 area2";

    width: 90dvw;
    max-width: 800px;
    padding-block: var(--space-300) var(--space-600);
    gap: 4rem;

    .about-me_img {
        grid-area: area1;

        img {
            border-radius: var(--radius-3);
            box-shadow:
                    var(--shadow-low),
                    var(--shadow-medium);
        }
    }

    .about-me_links a {
        color: var(--tx-color-3);
        padding: var(--space-075);
        border-radius: var(--radius-5);
        transition:
                background var(--transition-1),
                color var(--transition-1);

        &[alt="linkedin"]:hover {
            background-color: #0a66c2;
        }
        &[alt="github"]:hover {
            background-color: #010409;
        }
        &[alt="dribbble"]:hover {
            background-color: #e04a82;
        }
        &[alt="pinterest"]:hover {
            background-color: #e60023;
        }
        &:hover {
            color: white;
        }
    }

    .about-me_greeting {
        grid-area: area2;
        h3 {
            font-size: var(--size-5);
            font-weight: 500;
        }
        p {
            margin: 0;
            font-size: var(--size-3);
        }
    }
}

section[id="projects"] {
    background-color: var(--bg-color-3);
}

section[id="experience"] {
    background-color: var(--bg-color-2);
}