/*———————— Formatted styles ————————*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*———————— Font family styles ————————*/

@font-face {
    font-family: 'Exo 2';
    src:url('../assets/fonts/Exo2.woff2') format('woff2'),
        url('../assets/fonts/Exo2.woff') format('woff'),
        url('../assets/fonts/Exo2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*———————— Custom property styles ————————*/

:root {
    /*—————————— Typography ——————————*/
    --typeface: 'Exo 2', system-ui, -apple-system, sans-serif;
    /*——————————— Sizes ———————————*/
    --size-1: 8px;
    --size-2: 12px;
    --size-3: 16px;
    --size-4: 18px;
    --size-5: 20px;
    --size-6: 22px;
    --size-7: 24px;
    --size-8: 28px;
    --size-9: 32px;
    /*—————————— Spacing ——————————*/
    --space-025: 0.25em;
    --space-050: 0.50em;
    --space-075: 0.75em;
    --space-100: 1.00em;
    --space-150: 1.50em;
    --space-200: 2.00em;
    --space-250: 2.50em;
    --space-300: 3.00em;
    --space-400: 4.00em;
    --space-500: 5.00em;
    /*——————————— Border ———————————*/
    --solid-1: solid 1px;
    --solid-2: solid 2px;
    --solid-3: solid 3px;
    --solid-4: solid 4px;
    /*———————— Border Radius ————————*/
    --radius-1: .5em;
    --radius-2: 1em;
    --radius-3: 1.5em;
    --radius-4: 2em;
    /*———————— Box Shadow ————————*/
    --sh-color: #0001;
    --shadow-low:    0px 2px 4px 0px var(--sh-color);
    --shadow-medium: 0px 3px 6px 1px var(--sh-color);
    --shadow-high:   0px 4px 8px 2px var(--sh-color);
    /*————————— Transitions —————————*/
    --trans-1: .2s ease;
    --trans-2: .4s ease;
    --trans-3: .6s ease;
    /*————————— From project —————————*/
    /* --sidebar-width: 18em; */
}

:root[data-theme="light"] {
    /*60%*/ --primary-color: #B8CEE3;
    /*30%*/ --secondary-color: #F3F6F9;
    /*10%*/ --accent-color: #000;

    --tx-color-1: #123;
    --tx-color-2: #456;
    --tx-color-3: #789;

    --bg-color-1: #EEE;
    --bg-color-2: #DDD;
    --bg-color-3: #CCC;
}

:root[data-theme="dark"] {
    /*60%*/ --primary-color: #171c20;
    /*30%*/ --secondary-color: #12171a;
    /*10%*/ --accent-color: #fff;

    --tx-color-1: #def;
    --tx-color-2: #abc;
    --tx-color-3: #789;

    --bg-color-1: #111;
    --bg-color-2: #222;
    --bg-color-3: #333;
}

/*———————— HTML Element styles ————————*/

html {
    font-size: var(--size-3);
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #b4c0c9 0%, #dde2ee 50%, #b4c0c9 100%);
    font-family: var(--typeface);
    color: var(--tx-color-1);
    overflow-x: hidden;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 900px) {
        width: 90%;
    }
    @media (max-width: 600px) {
        width: 100%;
        margin: 0;
        padding: var(--space-050);
    }
}

svg {
    width: var(--space-200);
    height: var(--space-200);
    color: var(--tx-color-2);
    fill: var(--tx-color-2);
}

header > h2 {
    font-size: 3em;
    font-weight: bold;
    color: var(--tx-color-3);
}

/*—————————— Reusable Class Styles ——————————*/

.fx {
    display: flex;
}
.fx-row {
    flex-direction: row;
}
.fx-col {
    flex-direction: column;
}
.fx-center {
    justify-content: center;
    align-items: center;
}
.fx-around_center {
    justify-content: space-around;
    align-items: center;
}
.fx-between_center {
    justify-content: space-between;
    align-items: center;
}
.fx-evenly_center {
    justify-content: space-evenly;
    align-items: center;
}

/*—————————— Global Styles ——————————*/

[_1] {
    position: absolute;
    bottom: 4%;
    left: 14%;
    width: 5em;
    height: 5em;
    background: linear-gradient(to bottom, #0bf, #06d);
    border-radius: var(--radius-2);
    box-shadow: 20px 20px 20px 0px #06d2;
    transform: rotate(45deg);
    z-index: -1;
}
[_2] {
    position: absolute;
    top: 4%;
    right: -8%;
    width: 8em;
    height: 8em;
    background: linear-gradient(to bottom, #4cf, #09f);
    border-radius: var(--radius-2);
    box-shadow: 20px 20px 20px 0px #06d2;
    transform: rotate(45deg);
    z-index: -1;
}
[_3] {    
    position: absolute;
    top: 0%;
    left: -30%;
    width: 25em;
    height: 25em;
    background-color: transparent;
    border: var(--solid-2) #fff;
    border-radius: var(--radius-4);
    box-shadow: -10px 10px 40px 0px #0241, -10px 10px 40px 0px #0241 inset;
    transform: rotate(45deg);
    z-index: -1;
}
[_4] {
    position: absolute;
    bottom: 0%;
    right: -30%;
    width: 25em;
    height: 25em;
    background: linear-gradient(to bottom, #dbe1e790 0%, #bec8d2 50%);
    border: var(--solid-2) #fff;
    border-radius: var(--radius-4);
    box-shadow: 10px 10px 20px 0px #0241;
    transform: rotate(-45deg);
    z-index: -1;
}

.gb-projects,
.gb-experience,
.gb-knowledge,
.gb-contact {
    header {
        text-align: center;
        padding-block: 4em;
    }
}

/*—————————— Hero (1) ——————————*/

.gb-hero {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    position: relative;
}
    .hero__header {
        width: 100%;
        max-height: 130px;
        
        nav {
            padding: var(--space-150);
            margin-block: var(--space-200);
            gap: var(--space-100);
            
            backdrop-filter: blur(1em);
            background-color: #fff2;
            box-shadow: 0px 5px 10px 0px #0241, 0px 0px 10px 0px #fff8 inset;
            border: var(--solid-1) #fff;
            border-radius: var(--radius-3);
        }
        a {
            font-size: var(--size-5);
            color: var(--tx-color-2);
            &:hover {
                color: var(--tx-color-1);
            }
        }
        img {
            position: absolute;
            border-radius: 100%;
            border: var(--solid-1) #fff;
            left: 50%;
            transform: translate(-50%, -40%);
        }
        a[href="#projects"] {
            order: 2;
        }
        a[href="#experience"] {
            order: 2;
        }
        a.profile_photo {
            position: relative;
            order: 2;
            strong {
                opacity: 0;
            }
        }
        a[href="#knowledge"] {
            order: 2;
        }
        a[href="#contact"] {
            order: 2;
        }
    }

    .hero__content {
        height: 100%;
        text-align: center;
        gap: var(--space-100);
        
        h1 {
            margin-top: 2em;
            font-size: 2em;
        }
        h2 {
            font-size: 4em;
            font-weight: bold;
        }
        strong {
            background: linear-gradient(to bottom, #1bf, #06d);
            background-clip: text;
            color: transparent;
        }
        div {
            gap: var(--space-200);
        }
        ul {
            margin-block: 1em 4em;
            gap: var(--space-100);
            
            li {
                list-style: none;
            } 
            svg {
                color: var(--tx-color-3);
                border-radius: 4px;
            }
        } 
        [data-btn-info] {
            color: var(--tx-color-2);
            font-size: var(--size-4);
            padding: var(--space-075) var(--space-150);
            background-color: #d2d9e4;
            box-shadow: 0px 10px 10px 0px #0241, 0px 0px 20px 0px #fff8 inset;
            border: var(--solid-1) #fff;
            border-radius: var(--radius-1);
            transition-property: transform, box-shadow;
            transition: var(--trans-2);
            &:hover {
                color: var(--tx-color-1);
                box-shadow: none;
                transform: scale(1.1);
                background: #e9eef9;
            }
        }
        [data-btn-download] {
            color: #fff;
            font-size: var(--size-4);
            padding: var(--space-075) var(--space-150);
            background: linear-gradient(to bottom, #1bf, #06d);
            box-shadow: 0px 10px 10px 0px #0241, 0px 2px 4px 0px #fff4 inset;
            border: none;
            border-radius: var(--radius-1);
            transition-property: transform, box-shadow;
            transition: var(--trans-2);
            &:hover {
                font-weight: bold;
                box-shadow: none;
                transform: scale(1.1);
            }
        }
    }

    .hero__footer {
        margin-bottom: var(--space-200);
    }

    .scroll-animation {
        animation: scroll-down 2s infinite;
        svg {
            width: 3em;
            height: 3em;
        }
    }

@keyframes scroll-down {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    33% {
        transform: translateY(1rem);
        opacity: 0;
    }
    66% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .hero__header a{
        font-size: var(--size-4);
    }
}

/*—————————— About me (2) ——————————*/

.gb-about_me {
    width: 88%;
    margin: 0 auto;
    padding-block: 10em 4em;
    gap: var(--space-400);
}

.about_me__profile {
    width: max-content;
    text-align: center;

    img {
        border-radius: var(--radius-4);
        border: var(--solid-1) #fff;
    }
}

.about_me__intro {
    width: 100%;
    height: 240px;
    gap: var(--space-100);

    h2 {
        width: 100%;
        font-size: 2em;
    }
    p {
        line-height: 1.4;
    }
}

/*—————————— Skills (3) ——————————*/

.gb-skills {
    padding-block: 4em 10em;
}

.skills__tech {
    width: 100%;

    svg {
        width: 3em;
        height: 3em;
        color: var(--tx-color-3);
        transition-property: transform, color;
        transition: var(--trans-2);
    }
    svg:hover {
        color: var(--tx-color-2);
        transform: scale(1.1);
    }
}

/*—————————— Projects (4) ——————————*/

.projects__content {
    width: 100%;
    display: grid;
    grid-gap: var(--space-200);
    grid-template-columns: repeat(3, minmax(0, 1fr));

    > div {
        padding: var(--space-100);
        gap: var(--space-100);
        background-color: #d2d9e4;
        box-shadow: 0px 10px 10px 0px #0241, 0px 0px 20px 0px #fff8 inset;
        border: var(--solid-1) #fff;
        border-radius: var(--radius-1);
        color: var(--tx-color-3);
    }
    img {
        border-radius: 8px;
    }
    h3 {
        font-size: 1.5em;
        color: var(--tx-color-2);
    }
    a {
        font-size: var(--size-2);
        background-color: #e9eef9;
        padding: .2em .6em;
        border-radius: var(--radius-2);
        border: var(--solid-1) #fff;
    }
}

.experience__header {
    margin-block: var(--space-300);
}






/*—————————— Experience (5) ——————————*/

/*—————————— Knowledge (6) ——————————*/

/*—————————— Contact (7) ——————————*/

.contact__social {

    h3 {
        font-size: var(--size-5);
    }
    nav {
        gap: var(--space-200);
        margin-right: var(--space-100);
    }
    svg:hover {
        color: var(--tx-color-1);
    }
}

/*—————————— Responsive Web Design ——————————*/

@media (max-width: 900px) {
    .projects__content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 600px) {
    main {
        width: 100%;
        margin: 0;
        padding: var(--space-050);
    }
    .hero__header{
        nav {
            margin-block: var(--space-150);
        }
        a {
            font-size: var(--size-3);
        }
    }
    .projects__content {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@media (max-width: 400px) {
    main {
        .hero__header {
            img {
                visibility: hidden;
            }
            .logo {
                visibility: visible;
                display: block;
            }
        }
    }
}