/*———————— Formatted styles ————————*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*———————— Font family styles ————————*/

@font-face {
    font-family: 'Exo 2';
    src:url('../assets/fonts/Exo2.woff2') format('woff2'),
        url('../assets/fonts/Exo2.woff') format('woff'),
        url('../assets/fonts/Exo2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*———————— Custom property styles ————————*/

:root {
    /*—————————— Typography ——————————*/
    --typeface: 'Exo 2', system-ui, -apple-system, sans-serif;
    /*——————————— Sizes ———————————*/
    --size-1: 8px;
    --size-2: 12px;
    --size-3: 16px;
    --size-4: 18px;
    --size-5: 20px;
    --size-6: 22px;
    --size-7: 24px;
    --size-8: 28px;
    --size-9: 32px;
    /*—————————— Spacing ——————————*/
    --space-025: 0.25em;
    --space-050: 0.50em;
    --space-075: 0.75em;
    --space-100: 1.00em;
    --space-150: 1.50em;
    --space-200: 2.00em;
    --space-250: 2.25em;
    --space-300: 3.00em;
    --space-400: 4.00em;
    --space-500: 5.00em;
    /*——————————— Border ———————————*/
    --solid-1: solid 1px;
    --solid-2: solid 2px;
    --solid-3: solid 3px;
    --solid-4: solid 4px;
    /*———————— Border Radius ————————*/
    --radius-1: .5em;
    --radius-2: 1em;
    --radius-3: 1.5em;
    --radius-4: 2em;
    /*———————— Box Shadow ————————*/
    --sh-color: #0001;
    --shadow-low:    0px 2px 4px 0px var(--sh-color);
    --shadow-medium: 0px 3px 6px 1px var(--sh-color);
    --shadow-high:   0px 4px 8px 2px var(--sh-color);
    /*————————— Transitions —————————*/
    --trans-1: .2s ease;
    --trans-2: .4s ease;
    --trans-3: .6s ease;
    /*————————— From project —————————*/
    /* --sidebar-width: 18em; */
}

:root[data-theme="light"] {
    /*60%*/ --primary-color: #B8CEE3;
    /*30%*/ --secondary-color: #F3F6F9;
    /*10%*/ --accent-color: #000;

    --tx-color-1: #123;
    --tx-color-2: #456;
    --tx-color-3: #789;

    --bg-color-1: #EEE;
    --bg-color-2: #DDD;
    --bg-color-3: #CCC;
}

:root[data-theme="dark"] {
    /*60%*/ --primary-color: #171c20;
    /*30%*/ --secondary-color: #12171a;
    /*10%*/ --accent-color: #fff;

    --tx-color-1: #def;
    --tx-color-2: #abc;
    --tx-color-3: #789;

    --bg-color-1: #111;
    --bg-color-2: #222;
    --bg-color-3: #333;
}

/*———————— HTML Element styles ————————*/

html {
    font-size: var(--size-3);
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #b4c0c9 0%, #dde2ee 50%, #b4c0c9 100%);
    font-family: var(--typeface);
    color: var(--tx-color-1);
    overflow-x: hidden;
    position: relative;
}

main {
    width: 85%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

svg {
    width: var(--space-200);
    height: var(--space-200);
    color: var(--tx-color-2);
    fill: var(--tx-color-2);
}

/*—————————— Reusable Class Styles ——————————*/

.fx {
    display: flex;
}
.fx-row {
    flex-direction: row;
}
.fx-col {
    flex-direction: column;
}
.fx-center {
    justify-content: center;
    align-items: center;
}
.fx-between {
    justify-content: space-between;
    align-items: space-between;
}
.fx-center_between {
    justify-content: center;
    align-items: space-between;
}
.fx-between_center {
    justify-content: space-between;
    align-items: center;
}
.fx-center_evenly {
    justify-content: center;
    align-items: space-evenly;
}
.fx-evenly_center {
    justify-content: space-evenly;
    align-items: center;
}
.fx-center_around {
    justify-content: center;
    align-items: space-around;
}
.fx-around_center {
    justify-content: space-around;
    align-items: center;
}

/*—————————— Global Styles ——————————*/
[_1] {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 4em;
    height: 4em;
    background: linear-gradient(to bottom, #0bf, #06d);
    border-radius: var(--radius-2);
    box-shadow: 20px 20px 20px 0px #06d2;
    transform: rotate(45deg);
    z-index: -1;
}

[_2] {
    position: absolute;
    top: 4%;
    right: 8%;
    width: 8em;
    height: 8em;
    background: linear-gradient(to bottom, #4cf, #09f);
    border-radius: var(--radius-2);
    box-shadow: 20px 20px 20px 0px #06d2;
    transform: rotate(45deg);
    z-index: -1;
}

[_3] {    
    position: absolute;
    top: 15%;
    left: -10%;
    width: 25em;
    height: 25em;
    background: linear-gradient(to bottom, #dbe1e790 0%, #bec8d2 50%);
    border: var(--solid-2) #fff;
    border-radius: var(--radius-4);
    box-shadow: 10px 20px 20px 0px #a8b6c1bb;
    transform: rotate(45deg);
    z-index: -1;
}

[_4] {
    position: absolute;
    top: 40%;
    right: -10%;
    width: 25em;
    height: 25em;
    background-color: transparent;
    border: var(--solid-2) #fff;
    border-radius: var(--radius-4);
    box-shadow: 10px 10px 20px 0px #a8b6c160, 10px 10px 20px 0px #a8b6c160 inset;
    transform: rotate(45deg);
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
    max-height: 800px;
}

.hero__header {
    width: 100%;
    max-height: 130px;
    
    nav {
        padding: var(--space-150);
        margin-block: var(--space-200);
        gap: var(--space-100);
        
        backdrop-filter: blur(12px);
        background-color: #fff2;
        border: var(--solid-1) #fff;
        border-radius: var(--radius-3);
    }
    a {
        font-size: var(--size-5);
        color: var(--tx-color-2);
        &:hover {
            color: var(--tx-color-1);
        }
    }
    img {
        position: absolute;
        border-radius: 100%;
        border: var(--solid-1) #fff;
        left: 50%;
        transform: translate(-50%, -40%) scale(1);
        transition: transform var(--trans-3);
        &:hover {
            transform: translate(-50%, -10%) scale(1.4);
        }
    }
    .link__a {
        order: 2;
    }
    .link__b {
        order: 2;
    }
    .link__c {
        position: relative;
        order: 2;
        strong {
            opacity: 0;
        }
    }
    .link__d {
        order: 2;
    }
    .link__e {
        order: 2;
    }
    .logo__svg {
        visibility: hidden;
        display: none;
    }
}

.hero__content {
    height: 100%;
    text-align: center;
    gap: var(--space-100);
    margin-bottom: 2em;
    
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 4em;
        font-weight: bold;
        margin-bottom: var(--space-100);
    }
    strong {
        background: linear-gradient(to bottom, #1bf, #06d);
        background-clip: text;
        color: transparent;
    }
    div {
        gap: var(--space-200);
    }
    [data-btn-info] {
        color: var(--tx-color-2);
        font-size: var(--size-4);
        padding: var(--space-075) var(--space-150);
        background-color: #fff4;
        border: var(--solid-1) #fff;
        border-radius: var(--radius-1);
        transition: transform var(--trans-2);
        &:hover {
            color: var(--tx-color-1);
            transform: scale(1.1);
        }
    }
    [data-btn-download] {
        color: #fff;
        font-size: var(--size-4);
        padding: var(--space-075) var(--space-150);
        background: linear-gradient(to bottom, #1bf, #06d);
        border: none;
        border-radius: var(--radius-1);
        transition: transform var(--trans-2);
        &:hover {
            font-weight: bold;
            transform: scale(1.1);
        }
    }

}

.hero__footer {
    margin-bottom: var(--space-200);
    h3 {
        font-size: 1.8em;
        text-align: center;
        color: var(--tx-color-2);
    }
    nav {
        padding: var(--space-200);
        gap: var(--space-200);
    }
}

.scroll-animation {
    animation: scroll-down 3s infinite;
}
@keyframes scroll-down {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

.gb-presentation {
    height: 50vh;
    h2 {
        font-size: 2.5em;
    }
}

.presentation__nav a {
    svg:hover {
        color: var(--tx-color-1);
    }
}




/*—————————— Responsive Web Design ——————————*/

@media (max-width: 900px) {
    main {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .hero__header a{
        font-size: var(--size-4);
    }
}
@media (max-width: 600px) {
    main {
        width: 100%;
        margin: 0;
        padding: var(--space-050);
    }
    .hero__header{
        nav {
            margin-block: var(--space-150);
        }
        a {
            font-size: var(--size-3);
        }
    }
}
@media (max-width: 400px) {
    main {
        width: 100%;
        margin: 0;
        padding: var(--space-050);

        .hero__header {
            img {
                visibility: hidden;
            }
            .logo {
                visibility: visible;
                display: block;
            }
        }
    }
}