@scope (ui-eyebrow) {
    :scope {
        display: inline-flex;
        align-items: center;
        gap: var(--space-050);
        padding: var(--space-050) var(--space-075);

        color: var(--primary-color);
        font-size: var(--size-1);
        letter-spacing: 1px;

        background: var(--light-color);
        border: var(--solid-1) var(--focus-color);
        border-radius: var(--radius-4);

        font-weight: 600;
        line-height: 1.2;
    }

    svg {
        color: var(--primary-color);
        width: 1lh;
        height: 1lh;
        flex: 0 0 1lh;
        &:hover {
            color: var(--primary-color);
        }
    }

    span {
        line-height: inherit;
    }

}